@charset "UTF-8";
header {
	background-color:#CA7013;
	padding-top: 100px;
	padding-bottom: 100px;
}
h1  {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #F7EADC;
    padding-left: 5%;
    padding-right: 5%;
    font-variant: normal;
    font-size: 233%;
    text-align: center;
		}
h2 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #FBB770;
    padding-left: 10%;
    font-size: xx-large;
		}
h8 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F7EADC;
    padding-left: 10%;
    font-size: xx-large;
		}
h4 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #F9CFA2;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
		}
h5 {
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: large;
    color: #F7EADC;
	padding-left: 20%;
	padding-right: 20%;
		}
h10 {
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    color: #F7EADC;
	padding-left: 20%;
	padding-right: 20%;
		}
h3 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F2A75D;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger; 
		}
h9 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F7EADC;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
    text-align: left;
		}
h6 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F9CFA2;
    padding-left: 20%;
    padding-right: 20%;
    font-size: x-large;
	text-decoration: underline
		}
p {
    padding-left: 10%;
    padding-right: 10%;
     font-size: large;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    margin-top: 0px;
}
.imgCenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
.rightAlign2 {
		float: right;
		padding-left: 20%;
	padding-right: 10%;
	overflow:auto;
	border: 3px #F9CFA2;
		}
a {
    color:#FF8302;
    text-decoration: none;
    font-weight: bold;
	background-color:#F7EADC;
	
}
.background{
	background-color: #F9CFA2;
}
a:hover {
	color:#F7EADC;
	background-color:#FF8302;
}
footer{
	padding: 20px;
	background-color: #F9CFA2;
	color: #FBA446;	
   left: 0;
   bottom: 0;
   width: 100%;overflow: auto;
	
}
.button a{
    background-color: #CA7013;
    color: #F7EADC;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.button a:hover {
	background-color:#F7EADC;
	color:#CA7013;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rightAlign {
	float: right;
	padding-left:5%;
	padding-bottom: 20%;
	padding-right: 10%;
	overflow:auto;
}
.leftAlign {
	float: left;
	overflow:auto;
}
.threeColumn {
	column-count: 3;
	column-gap: 15px;
	padding-left: 5%;
	padding-right: 5%;
}
.twoColumn {
	column-count: 2;
	column-gap: 10px;
	padding-left: 5%;
	padding-right: 5%;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7EADC;
	position: fixed;
	top: 0;
	width: 100%;
}
ul.topnav li {float: left;
width: 25%;
text-align:center;}

ul.topnav li a {
	display: block;
	color:#FF8202;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color:#CA7013}

ul.topnav li a.active {background-color:#F7EADC}

ul.topnav li.right {float: right;}
